mixin song(song)
    div
        img(src='/'+song.imgpath, width="100", height="100")
        h4
            a(href=`/music/${song.id}`)=song.title
        span=song.artist 
        p=song.description
        small=song.createAt
        span=song.meta.views
        audio(controls src='/'+song.songpath)

        hr