extends baseNav

block content 
    div.join
        h1=pageTitle
        if errorMessage
            span.errorMessag=errorMessage
        form(method="POST")
            label(for="username") ID
            input(name="username", type="text", id="username", placeholder="아이디를 입력하세요", required=true)
            label(for="password") 비밀번호
            input(name="password", type="password", id="password", placeholder="비밀번호를 입력하세요", required=true)
            label(for="password2") 비밀번호 확인
            input(name="password2", type="password", id="password2", placeholder="비밀번호를 한번 더 입력하세요", required=true)
            label(for="name") 이름 혹은 닉네임
            input(name="name", type="text", id="name", placeholder="이름을 입력하세요", required=true)
            label(for="email") 이메일
            input(name="email", type="email", id="email", placeholder="ex) abc@naver.com", required=true)
            label(for="location") 지역
            input(name="location", type="text", id="password", placeholder="ex) 서울", required=true)
        
            input(type="submit", value="가입하기")

        span.askingLink 이미 가입 하셨나요? 
            a(href="/login") 로그인 하러 가기 &rarr;