div#miniPlayer(data-volume=currentVolume)
    i.fas.fa-guitar
    h2=nowPlayingSong.title
    h4=nowPlayingSong.artist
    h4=currentTime
    h4=currentVolume
    button.muteBtn
        i.fas.fa-volume-mute

    div.audioControlerBtns
        button.prevSong
            i.fas.fa-angle-double-left.lg
        button.play
            i#playBtnIcon.fas.fa-pause-circle.lg
        button.nextSong
            i.fas.fa-angle-double-right.lg
    audio(controls src='/'+nowPlayingSong.songpath autoplay) 
    input.miniPlayer_input(type="range" value="" step="1", min="0")        

script(src="/static/js/miniplayer.js")